node-red/flows/.otm.json.backup
[{"id":"3c58ad8b.3ad9a2","type":"tab","label":"agbr/u5","disabled":false,"info":""},{"id":"1ba5093f.df9427","type":"subflow","name":"jacamo","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"8af25da8.f645f"}]}],"out":[],"env":[{"name":"HOST","type":"str","value":"http://192.168.1.107"},{"name":"PORT","type":"num","value":"8080"}],"color":"#DDAA99"},{"id":"c04461a8.fbdff","type":"subflow","name":"download","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"21faa660.2614ba"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"db6cbfdc.9b7ea","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"1efd826c.6c451e","type":"subflow","name":"brsiop","info":"","category":"","in":[{"x":240,"y":580,"wires":[{"id":"7c516681.041ab8"}]}],"out":[],"env":[{"name":"HOST","type":"str","value":"http://brsiop.tecgraf.puc-rio.br"},{"name":"PORT","type":"num","value":"9010"},{"name":"MARLIM_PATH","type":"str","value":"/marlim"},{"name":"BASE_URL","type":"str","value":"v1"},{"name":"PROJECT","type":"str","value":"jomi/agbr"}],"color":"#DDAA99"},{"id":"f2619473.6c5238","type":"http request","z":"1ba5093f.df9427","name":"send msg","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":80,"wires":[["de41a94d.c67818"]]},{"id":"de41a94d.c67818","type":"switch","z":"1ba5093f.df9427","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":80,"wires":[["9e9b9d65.d8d15"]]},{"id":"9e9b9d65.d8d15","type":"debug","z":"1ba5093f.df9427","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":80,"wires":[]},{"id":"8af25da8.f645f","type":"function","z":"1ba5093f.df9427","name":"new_as","func":"var well = msg.file.substring(0, msg.file.length - 25).replace(/_/g, \"-\").toUpperCase();\nvar content = `new_file(\\\\\\\"${well}\\\\\\\",\\\\\\\"${msg.file}\\\\\\\")`;\nvar receiver = `ag_brsiop`;\nmsg.method = 'POST';\nmsg.url = `${env.get('HOST')}:${env.get('PORT')}/agents/${receiver}/inbox`;\nmsg.payload = `{ \\\"sender\\\": \\\"node_red\\\", \\\"receiver\\\": \\\"${receiver}\\\", \\\"performative\\\": \\\"tell\\\", \\\"content\\\": \\\"${content}\\\", \\\"msgId\\\": \\\"13\\\"}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nreturn msg","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["f2619473.6c5238"]]},{"id":"21faa660.2614ba","type":"json","z":"c04461a8.fbdff","name":"","property":"payload","action":"","pretty":false,"x":190,"y":140,"wires":[["de409dc4.b3361"]]},{"id":"1df29ec8.daa0e1","type":"http request","z":"c04461a8.fbdff","name":"download","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":140,"wires":[["73ff61a0.bc1b7"]]},{"id":"de409dc4.b3361","type":"change","z":"c04461a8.fbdff","name":"url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload.url","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["1df29ec8.daa0e1"]]},{"id":"73ff61a0.bc1b7","type":"file","z":"c04461a8.fbdff","name":"dowload","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":580,"y":140,"wires":[["db6cbfdc.9b7ea"]]},{"id":"db6cbfdc.9b7ea","type":"switch","z":"c04461a8.fbdff","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":140,"wires":[["a41ad182.d70eb"],[]]},{"id":"a41ad182.d70eb","type":"debug","z":"c04461a8.fbdff","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":80,"wires":[]},{"id":"32958ff8.a6e1b","type":"switch","z":"1efd826c.6c451e","name":"","property":"payload.functor","propertyType":"msg","rules":[{"t":"eq","v":"login","vt":"str"},{"t":"eq","v":"upload","vt":"str"},{"t":"eq","v":"mc_as","vt":"str"},{"t":"eq","v":"add_as","vt":"str"},{"t":"eq","v":"jobInfo","vt":"str"},{"t":"eq","v":"download","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":710,"y":580,"wires":[["1d02e743.4dc599"],["d43df8d4.51d178"],["7d32f948.917548"],["7beffa4e.824b74"],["d2dd18a5.b73a58"],["c1b82b81.3e58b8"],["46f69e60.13596"]]},{"id":"1d02e743.4dc599","type":"function","z":"1efd826c.6c451e","name":"login","func":"var login = msg.payload.terms[0];\nvar password = msg.payload.terms[1];\n\nmsg.method = 'POST';\n// msg.url = `${msg.origin}/v1/authentication`;\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/authentication`;\nmsg.payload = `login=${login}&password=${password}`;\n\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":200,"wires":[["3f56e222.43e3ce"]]},{"id":"3f56e222.43e3ce","type":"http request","z":"1efd826c.6c451e","name":"login","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":200,"wires":[["aa0b4063.a033c"]]},{"id":"6b02e093.42e6c","type":"comment","z":"1efd826c.6c451e","name":"LOGIN","info":"","x":990,"y":153,"wires":[]},{"id":"aa0b4063.a033c","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":200,"wires":[["6e8d5c66.3fb664"],["271e8eb4.bafea2"]]},{"id":"6e8d5c66.3fb664","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":140,"wires":[]},{"id":"d0a3fc28.7a60e","type":"comment","z":"1efd826c.6c451e","name":"UPLOAD","info":"","x":1000,"y":292,"wires":[]},{"id":"d43df8d4.51d178","type":"function","z":"1efd826c.6c451e","name":"upload","func":"msg.token = msg.payload.terms[0];\nmsg.file = msg.payload.terms[1];\nlet envpath = env.get('MARLIM_PATH');\nif (envpath.indexOf(\"/\") >= 0) {\n    msg.filename = `${env.get('MARLIM_PATH')}/${msg.file}`; // N-WINDOWS    \n} else {\n    msg.filename = `${env.get('MARLIM_PATH')}\\\\\\\\${msg.file}`; // WINDOWS\n}\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":336,"wires":[["e0999dc8.2e9cf"]]},{"id":"e0999dc8.2e9cf","type":"file in","z":"1efd826c.6c451e","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1110,"y":336,"wires":[["ef5d4db8.03083"]]},{"id":"ef5d4db8.03083","type":"function","z":"1efd826c.6c451e","name":"multipart","func":"let databuffer = msg.payload;\nmsg.method = 'POST';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/projects/${msg.project}/files/root`;\nmsg.payload = {\n    \"file\": {\n        \"value\": databuffer,\n        \"options\": {\n            \"filename\": msg.file\n        }\n    },\n    \"uploadType\": {\n        \"value\": \"multipart\"\n    }\n}\nmsg.headers = {};\nmsg.headers['content-type'] = 'multipart/form-data';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1240,"y":336,"wires":[["8773e10.5f5c12"]]},{"id":"8773e10.5f5c12","type":"http request","z":"1efd826c.6c451e","name":"upload","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":336,"wires":[["62651267.45d65c"]]},{"id":"5567f765.468698","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1490,"y":280,"wires":[]},{"id":"7beffa4e.824b74","type":"function","z":"1efd826c.6c451e","name":"as2glc","func":"msg.token = msg.payload.terms[0];\nvar well = msg.payload.terms[1];\nvar gln = msg.payload.terms[2];\nvar file = msg.payload.terms[3];\nmsg.method = 'POST';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs`;\nmsg.payload = `{\n   \\\"args\\\":{\n      \\\"6.ARQUIVO_SAIDA\\\":\\\"${gln}\\\",\n      \\\"5.well\\\":\\\"${well}\\\",\n      \\\"3.ARQUIVO_ENTRADA\\\":\\\"${gln}\\\",\n      \\\"0.ARQUIVO_ENTRADA\\\":\\\"${file}\\\"\n   },\n   \\\"description\\\":\\\"agbr\\\",\n   \\\"emailOnTerminated\\\":false,\n   \\\"numberOfJobs\\\":1,\n   \\\"remoteCommand\\\":{\n      \\\"versionId\\\":\\\"1.0.0\\\",\n      \\\"projectId\\\":\\\"${msg.project}\\\",\n      \\\"algorithmId\\\":\\\"addAS2GLC\\\"\n   },\n   \\\"priority\\\":0\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":640,"wires":[["b9e1d32f.19b0e"]]},{"id":"b9e1d32f.19b0e","type":"http request","z":"1efd826c.6c451e","name":"run","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1250,"y":580,"wires":[["ef9afcca.6f247"]]},{"id":"e8d0f455.d4a738","type":"comment","z":"1efd826c.6c451e","name":"AS2GLC","info":"","x":1000,"y":600,"wires":[]},{"id":"62651267.45d65c","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1491,"y":336,"wires":[["5567f765.468698"],["4494872b.b629e8"]]},{"id":"ef9afcca.6f247","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1373,"y":580,"wires":[["6f82afc5.8a8ca"],["9065f6d5.f484f8"]]},{"id":"6f82afc5.8a8ca","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1385,"y":526,"wires":[]},{"id":"d2dd18a5.b73a58","type":"function","z":"1efd826c.6c451e","name":"jobInfo","func":"msg.token = msg.payload.terms[0];\nvar jobId = msg.payload.terms[1];\nmsg.method = 'GET';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs/${jobId}`;\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":780,"wires":[["71237250.5fd03c"]]},{"id":"84163873.0f8cd8","type":"comment","z":"1efd826c.6c451e","name":"JOB_INFO","info":"","x":1000,"y":733,"wires":[]},{"id":"71237250.5fd03c","type":"http request","z":"1efd826c.6c451e","name":"jobInfo","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":780,"wires":[["d40f5842.a0c298"]]},{"id":"d40f5842.a0c298","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1233,"y":780,"wires":[["37e5a926.5bbd66"],["6ca1eb1f.2a3514"]]},{"id":"37e5a926.5bbd66","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":720,"wires":[]},{"id":"6ca1eb1f.2a3514","type":"json","z":"1efd826c.6c451e","name":"","property":"payload","action":"","pretty":false,"x":1388,"y":780,"wires":[["3357960f.18b6ea"]]},{"id":"6d99c86e.4db608","type":"base64","z":"1efd826c.6c451e","name":"","action":"str","property":"file64","x":1140,"y":940,"wires":[["2da0c802.03f5d8"]]},{"id":"c1b82b81.3e58b8","type":"function","z":"1efd826c.6c451e","name":"getLink","func":"msg.token = msg.payload.terms[0];\nvar gln = msg.payload.terms[1];\nlet envpath = env.get('MARLIM_PATH');\nif (envpath.indexOf(\"/\") >= 0){\n    msg.filename = `${env.get('MARLIM_PATH')}/${gln}`; // N-WINDOWS\n}else{\n    msg.filename = `${env.get('MARLIM_PATH')}\\\\\\\\${gln}`; // WINDOWS\n}\nmsg.file64 = gln;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":940,"wires":[["6d99c86e.4db608"]]},{"id":"bebdec25.79f5e","type":"comment","z":"1efd826c.6c451e","name":"DOWNLOAD","info":"","x":1010,"y":893,"wires":[]},{"id":"5aae964b.fc2de8","type":"http request","z":"1efd826c.6c451e","name":"getLink","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1440,"y":940,"wires":[["45bdf144.18347"]]},{"id":"45bdf144.18347","type":"switch","z":"1efd826c.6c451e","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"neq","v":"200","vt":"num"},{"t":"eq","v":"200","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1573,"y":940,"wires":[["e15d65fc.babd68"],["f18c5350.4237"]]},{"id":"e15d65fc.babd68","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1570,"y":880,"wires":[]},{"id":"46f69e60.13596","type":"debug","z":"1efd826c.6c451e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":700,"wires":[]},{"id":"271e8eb4.bafea2","type":"json","z":"1efd826c.6c451e","name":"","property":"payload","action":"","pretty":false,"x":1370,"y":200,"wires":[["e11e1302.0b481"]]},{"id":"e11e1302.0b481","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload.tokenType}${msg.payload.accessToken}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":200,"wires":[["30f7a3ee.bdc31c"]]},{"id":"30f7a3ee.bdc31c","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":1690,"y":200,"wires":[]},{"id":"4494872b.b629e8","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":340,"wires":[["ae21b5b4.d734e8"]]},{"id":"ae21b5b4.d734e8","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":1830,"y":340,"wires":[]},{"id":"9a503ee2.30a1d","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":1725,"y":580,"wires":[]},{"id":"3357960f.18b6ea","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload.state}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1554,"y":780,"wires":[["c9f068c2.2538d8"]]},{"id":"c9f068c2.2538d8","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":1714,"y":780,"wires":[]},{"id":"9065f6d5.f484f8","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = `\\\"${msg.payload}\\\"`;\nreturn msg;","outputs":1,"noerr":0,"x":1559,"y":580,"wires":[["9a503ee2.30a1d"]]},{"id":"f18c5350.4237","type":"subflow:c04461a8.fbdff","z":"1efd826c.6c451e","name":"","env":[],"x":1740,"y":940,"wires":[["393798b2.82e458"]]},{"id":"393798b2.82e458","type":"function","z":"1efd826c.6c451e","name":"OpFeedbackParam","func":"msg.payload = 'ok';\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":940,"wires":[["f30b1c77.6e5c6"]]},{"id":"f30b1c77.6e5c6","type":"http response","z":"1efd826c.6c451e","name":"OK","statusCode":"","headers":{},"x":2070,"y":940,"wires":[]},{"id":"7c516681.041ab8","type":"function","z":"1efd826c.6c451e","name":"","func":"msg.origin = `${env.get('HOST')}:${env.get('PORT')}`;\nmsg.project = env.get('PROJECT');\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":580,"wires":[["5e2e04e5.e0929c"]]},{"id":"2da0c802.03f5d8","type":"function","z":"1efd826c.6c451e","name":"","func":"msg.method = 'GET';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/projects/${msg.project}/files/${msg.file64}/link`;\nmsg.headers = {};\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":940,"wires":[["5aae964b.fc2de8"]]},{"id":"5e2e04e5.e0929c","type":"base64","z":"1efd826c.6c451e","name":"","action":"str","property":"project","x":540,"y":580,"wires":[["32958ff8.a6e1b"]]},{"id":"f5e2d4f7.392138","type":"http in","z":"3c58ad8b.3ad9a2","name":"Dummy BR-SiOP","url":"/brsiop","method":"post","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["5a7e8d52.91e0c4"]]},{"id":"650ccdac.011ee4","type":"comment","z":"3c58ad8b.3ad9a2","name":"BRSIOP","info":"","x":120,"y":60,"wires":[]},{"id":"5a7e8d52.91e0c4","type":"subflow:1efd826c.6c451e","z":"3c58ad8b.3ad9a2","name":"","env":[{"name":"JACAMO_PATH","value":"/data/jacamo","type":"str"},{"name":"OTM_PATH","value":"/data/otm","type":"str"},{"name":"AS_PATH","value":"/data/as","type":"str"},{"name":"PATH_GLN","value":"D:\\\\ag-br\\\\cenpes\\\\jacamo\\\\gln\\\\","type":"str"}],"x":350,"y":120,"wires":[]},{"id":"ba38528a.40b54","type":"watch","z":"3c58ad8b.3ad9a2","name":"wait marlim","files":"/marlim","recursive":"","x":130,"y":280,"wires":[["60f01f88.f1837"]]},{"id":"60f01f88.f1837","type":"rbe","z":"3c58ad8b.3ad9a2","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"file","x":290,"y":280,"wires":[["e59bd9c.bd07828"]]},{"id":"e59bd9c.bd07828","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"type","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":280,"wires":[["cb279d8.2f5f66"]]},{"id":"47364ed6.8bef4","type":"comment","z":"3c58ad8b.3ad9a2","name":"WAIT AS","info":"","x":120,"y":220,"wires":[]},{"id":"e7b96366.15997","type":"subflow:1ba5093f.df9427","z":"3c58ad8b.3ad9a2","name":"","env":[{"name":"HOST","value":"http://192.168.1.104","type":"str"}],"x":740,"y":280,"wires":[]},{"id":"7d32f948.917548","type":"function","z":"1efd826c.6c451e","name":"MC_AS","func":"msg.token = msg.payload.terms[0];\nvar mr2 = msg.payload.terms[1];\nmsg.method = 'POST';\nmsg.url = `${msg.origin}/${env.get('BASE_URL')}/jobs`;\nmsg.payload = `{\n   \\\"args\\\":{\n      \\\"ENTRADA\\\":\\\"${mr2}\\\"\n   },\n   \\\"description\\\":\\\"agbr\\\",\n   \\\"emailOnTerminated\\\":false,\n   \\\"numberOfJobs\\\":1,\n   \\\"remoteCommand\\\":{\n      \\\"versionId\\\":\\\"1.0.0\\\",\n      \\\"projectId\\\":\\\"${msg.project}\\\",\n      \\\"algorithmId\\\":\\\"MC_AS\\\"\n   },\n   \\\"priority\\\":0\n}`;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\nmsg.headers['Authorization'] = msg.token;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":500,"wires":[["b9e1d32f.19b0e"]]},{"id":"5e55269b.598f08","type":"comment","z":"1efd826c.6c451e","name":"MC_AS","info":"","x":990,"y":460,"wires":[]},{"id":"cb279d8.2f5f66","type":"switch","z":"3c58ad8b.3ad9a2","name":"","property":"file","propertyType":"msg","rules":[{"t":"cont","v":".mr2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":280,"wires":[["e7b96366.15997"]]}]